<div class="container">
  <h2 class="title-underblock custom mb30">{{ page.name }}</h2>
  <div class="entry-content ">
    <blockquote>
              <i class="fa fa-home fa-fw first-color"></i>
              {{ page.address }}
            </cite></br>
              <cite>
                <i class="fa fa-clock-o fa-fw first-color"></i>
                Horario de atención: {{ page.office_hours }}
              </cite><br>
              <cite>
                <i class="fa fa-phone fa-fw first-color"></i>
                Teléfonos: {{ page.phones }}
              </cite>
          </blockquote>
  </div><!-- End .entry-content -->
</div>
