<div id="revslider-container">
    <div id="revslider">
        <ul>
          <!--imagen-1-->
          {% for item in site.data.10-home.slider %}

            <li data-transition="fade" data-slotamount="8" data-masterspeed="800" data-title="{{ item.data-title }}" data-thumb="{{ item.data-image  | prepend: site.baseurl | prepend: site.url }}">
                <!-- background image -->

                  <img src="{{ "/images/revslider/dummy.png"  | prepend: site.baseurl | prepend: site.url }}" alt="slidebg1" data-lazyload="{{ item.data-image  | prepend: site.baseurl | prepend: site.url }}" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat">
                <a href="{{ item.link | prepend: site.baseurl | prepend: site.url }}">
                <div class="tp-caption rev-title lfb ltt"
                    data-x="{{ item.data-x-title }}"
                    data-y="{{ item.data-y-title }}"
                    data-speed="1000"
                    data-start="900"
                    data-easing="Power3.easeInOut"
                    data-endspeed="400"
                    style="z-index: 10"><strong>{{ item.title }}</strong>
                    <hr>
                </div>

                <div class="tp-caption rev-subtitle lfb ltt"
                    data-x="{{ item.data-x-subtitle }}"
                    data-y="{{  item.data-y-subtitle }}"
                    data-speed="1000"
                    data-start="1000"
                    data-easing="Power3.easeInOut"
                    data-endspeed="600"
                    style="z-index: 6">{{ item.subtitle }}
                </div>
                </a>
              </li>

          {% endfor %}
        </ul>
    </div><!-- End #revslider -->
    <a href="#segmentos" class="scroll-btn light" data-offset="-55" data-0="opacity:1" data-top-bottom="opacity:0;" title="Ver más..."><span></span></a>
</div><!-- End #revslider-container -->
