---
layout: 10-home
revslider-css: "revslider-index2.css"
style-css: "style-bancamiga2.css"
permalink: /empresas-inversiones-certificado-de-ahorro/
---

{%
	include index-bancamiga/g-static-img.html
    image=site.data.52-producto-certificado-de-ahorro.image
    data-title=site.data.52-producto-certificado-de-ahorro.data-title
    data-image=site.data.52-producto-certificado-de-ahorro.data-image
    data-x-title=site.data.52-producto-certificado-de-ahorro.data-x-title
    data-y-title=site.data.52-producto-certificado-de-ahorro.data-y-title
    title=site.data.52-producto-certificado-de-ahorro.title
    data-x-subtitle=site.data.52-producto-certificado-de-ahorro.data-x-subtitle
    data-y-subtitle=site.data.52-producto-certificado-de-ahorro.data-y-subtitle
    subtitle=site.data.52-producto-certificado-de-ahorro.subtitle
%}
<div class="mb40"></div><!-- space -->
{% include index-bancamiga/p01-tabs-left.html
      tabs-left=site.data.52-producto-certificado-de-ahorro.tabs-left
%}

  <hr class="mt30 mb20 green">
{% include index-bancamiga/p02-lista-preguntas-frecuentes.html
  preguntas-frecuentes=site.data.52-producto-certificado-de-ahorro.preguntas-frecuentes
  title-seccion=site.data.52-producto-certificado-de-ahorro.title-seccion
%}
{% include index-bancamiga/g-menu-links.html %}
<div class="mb10"></div><!-- space -->
