---
layout: 10-home
revslider-css: "revslider-index2.css"
style-css: "style-bancamiga2.css"
permalink: /personas-cuenta-electronica/
---

{%
	include index-bancamiga/g-static-img.html
    image=site.data.productos.55p-personas-cuenta-electronica.image
    data-title=site.data.productos.55p-personas-cuenta-electronica.data-title
    data-image=site.data.productos.55p-personas-cuenta-electronica.data-image
    data-x-title=site.data.productos.55p-personas-cuenta-electronica.data-x-title
    data-y-title=site.data.productos.55p-personas-cuenta-electronica.data-y-title
    title=site.data.productos.55p-personas-cuenta-electronica.title
    data-x-subtitle=site.data.productos.55p-personas-cuenta-electronica.data-x-subtitle
    data-y-subtitle=site.data.productos.55p-personas-cuenta-electronica.data-y-subtitle
    subtitle=site.data.productos.55p-personas-cuenta-electronica.subtitle
%}
<div class="mb40"></div><!-- space -->
{% include index-bancamiga/p01-tabs-left.html
      tabs-left=site.data.productos.55p-personas-cuenta-electronica.tabs-left
%}
<div class="mb10"></div><!-- space -->
<hr class="mt20 mb20 green">
{% include index-bancamiga/p02-lista-preguntas-frecuentes.html
  preguntas-frecuentes=site.data.productos.55p-personas-cuenta-electronica.preguntas-frecuentes
  title-seccion=site.data.productos.55p-personas-cuenta-electronica.title-seccion
%}
{% include index-bancamiga/g-menu-links.html %}
<div class="mb10"></div><!-- space -->
