---
layout: 10-home
revslider-css: "revslider-index2.css"
style-css: "style-bancamiga2.css"
permalink: /creditos-microcreditos/
---

{%
	include index-bancamiga/g-static-img.html
    image=site.data.productos.60p-creditos-microcreditos.image
    data-title=site.data.productos.60p-creditos-microcreditos.data-title
    data-image=site.data.productos.60p-creditos-microcreditos.data-image
    data-x-title=site.data.productos.60p-creditos-microcreditos.data-x-title
    data-y-title=site.data.productos.60p-creditos-microcreditos.data-y-title
    title=site.data.productos.60p-creditos-microcreditos.title
    data-x-subtitle=site.data.productos.60p-creditos-microcreditos.data-x-subtitle
    data-y-subtitle=site.data.productos.60p-creditos-microcreditos.data-y-subtitle
    subtitle=site.data.productos.60p-creditos-microcreditos.subtitle
%}
<div class="mb40"></div><!-- space -->
{% include index-bancamiga/p01-tabs-left.html
      tabs-left=site.data.productos.60p-creditos-microcreditos.tabs-left
%}
<div class="mb10"></div><!-- space -->
<hr class="mt20 mb20 green">
{% include index-bancamiga/p02-lista-preguntas-frecuentes.html
  preguntas-frecuentes=site.data.productos.60p-creditos-microcreditos.preguntas-frecuentes
  title-seccion=site.data.productos.60p-creditos-microcreditos.title-seccion
%}
{% include index-bancamiga/g-menu-links.html %}
<div class="mb10"></div><!-- space -->
