---
layout: 10-home
revslider-css: "revslider-index2.css"
style-css: "style-bancamiga2.css"
permalink: /cheques-gerencia/
---


{%
    include index-bancamiga/g-static-img.html
    image=site.data.servicios.23-servicios-cheques-gerencia.image
    data-title=site.data.servicios.23-servicios-cheques-gerencia.data-title
    data-image=site.data.servicios.23-servicios-cheques-gerencia.data-image
    data-x-title=site.data.servicios.23-servicios-cheques-gerencia.data-x-title
    data-y-title=site.data.servicios.23-servicios-cheques-gerencia.data-y-title
    title=site.data.servicios.23-servicios-cheques-gerencia.title
    data-x-subtitle=site.data.servicios.23-servicios-cheques-gerencia.data-x-subtitle
    data-y-subtitle=site.data.servicios.23-servicios-cheques-gerencia.data-y-subtitle
    subtitle=site.data.servicios.23-servicios-cheques-gerencia.subtitle
    next=site.data.servicios.23-servicios-cheques-gerencia.next
%}
  <div class="mb40"></div><!-- space -->
  {% include index-bancamiga/i01-container-about.html
    title-interna=site.data.servicios.23-servicios-cheques-gerencia.text-title
    description-interna=site.data.servicios.23-servicios-cheques-gerencia.text-about
    list-about=site.data.servicios.23-servicios-cheques-gerencia.list-about
    list-images=site.data.servicios.23-servicios-cheques-gerencia.image-about
    %}
  <div class="mb10"></div><!-- space -->
  {% include index-bancamiga/g-menu-links.html %}
  <div class="mb10"></div><!-- space -->
