---
layout: 10-home
revslider-css: "revslider-index2.css"
style-css: "style-bancamiga2.css"
permalink: /defensor-del-cliente/
---


{%
    include index-bancamiga/g-static-img.html
    image=site.data.servicios.25-servicios-defensor-del-cliente.image
    data-title=site.data.servicios.25-servicios-defensor-del-cliente.data-title
    data-image=site.data.servicios.25-servicios-defensor-del-cliente.data-image
    data-x-title=site.data.servicios.25-servicios-defensor-del-cliente.data-x-title
    data-y-title=site.data.servicios.25-servicios-defensor-del-cliente.data-y-title
    title=site.data.servicios.25-servicios-defensor-del-cliente.title
    data-x-subtitle=site.data.servicios.25-servicios-defensor-del-cliente.data-x-subtitle
    data-y-subtitle=site.data.servicios.25-servicios-defensor-del-cliente.data-y-subtitle
    subtitle=site.data.servicios.25-servicios-defensor-del-cliente.subtitle
    next=site.data.servicios.25-servicios-defensor-del-cliente.next
%}
  <div class="mb40"></div><!-- space -->
  {% include index-bancamiga/i01-container-about.html
    title-interna=site.data.servicios.25-servicios-defensor-del-cliente.text-title
    description-interna=site.data.servicios.25-servicios-defensor-del-cliente.text-about
    list-about=site.data.servicios.25-servicios-defensor-del-cliente.list-about
    list-images=site.data.servicios.25-servicios-defensor-del-cliente.image-about
    %}
  <div class="mb10"></div><!-- space -->
  {% include index-bancamiga/g-menu-links.html %}
  <div class="mb10"></div><!-- space -->
