---
layout: 10-home
revslider-css: "revslider-index2.css"
style-css: "style-bancamiga2.css"
permalink: /personas-creditos/
---

{%
  include index-bancamiga/g-static-img.html
  image=site.data.segmento-personas.segmento-creditos.image
  data-title=site.data.segmento-personas.segmento-creditos.data-title
  data-image=site.data.segmento-personas.segmento-creditos.data-image
  data-x-title=site.data.segmento-personas.segmento-creditos.data-x-title
  data-y-title=site.data.segmento-personas.segmento-creditos.data-y-title
  title=site.data.segmento-personas.segmento-creditos.title
  data-x-subtitle=site.data.segmento-personas.segmento-creditos.data-x-subtitle
  data-y-subtitle=site.data.segmento-personas.segmento-creditos.data-y-subtitle
  subtitle=site.data.segmento-personas.segmento-creditos.subtitle
%}
<div class="mb40"></div><!-- space -->
{% include index-bancamiga/s02-grid-2-columnas.html
    products=site.data.segmento-personas.segmento-creditos.products
  %}
<div class="mb10"></div><!-- space -->
{% include index-bancamiga/g-menu-links.html %}
<div class="mb10"></div><!-- space -->

{%
  include index-bancamiga/g-footer-callout.html
  title-footer=site.data.segmento-personas.segmento-creditos.title-footer
  subtitle-footer=site.data.segmento-personas.segmento-creditos.subtitle-footer
  text-button=site.data.segmento-personas.segmento-creditos.text-button
  link-footer=site.data.segmento-personas.segmento-creditos.link-footer
%}
