<!DOCTYPE html>
<!--[if IE 9]> <html class="ie9"> <![endif]-->
<!--[if !IE]><!--> <html> <!--<![endif]-->

  {% include index-bancamiga/g-head.html %}

  <body>
  <div class="boss-loader-overlay"></div><!-- End .boss-loader-overlay -->
  <div id="wrapper">
      {% include index-bancamiga/g-header-bancamiga.html %}
      <div id="content" role="main" class="no-padding">
        {{ content }}
        {% include index-bancamiga/g-footer-bancamiga.html %}
      </div>
  </div>
  <a href="#top" id="scroll-top" title="Back to Top"><i class="fa fa-angle-up"></i></a>
  {% include index-bancamiga/g-js.html %}
  </body>
  {% include index-bancamiga/g-modal.html
    text=site.data.g-header.text-modal
    button-text=site.data.g-header.button-text
    button2-text=site.data.g-header.button2-text
    button2-text-modal=site.data.g-header.button2-text-modal
    button2-link=site.data.g-header.url-modal
  %}

  {% include index-bancamiga/g-modal-synergy.html
    text=site.data.g-header.text-modal
    button-text=site.data.g-header.button-text
    button2-text=site.data.g-header.button2-text
    button2-text-modal=site.data.g-header.button2-text-modal
    button2-link=site.data.g-header.link-synergy
  %}
</html>
